{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}
{% block content %}
<h1>{{translate.t('Контакты')}}</h1>
<div style="text-align: center;">
{{content|raw}}
</div>
{% endblock %}